@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<address>
    Founder: Rohitashav Aggarwal<br />
    Address: <br />
    <br />
    <abbr title="Phone">P:</abbr>
    403.988.PHON
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>